<div class="card">
  <h5 class="card-header">Create New Blog</h5>
  <form class="card-body">
    <label for="card-title" class="form-label">Title</label>
    <input type="text" id="post-title" name="post-title" class="form-input" />
    <label class="form-label" for="content">Description</label>
    <input id="content" name="content" class="form-input" />
    <button type="submit" class="btn">Submit</button>
  </form>
</div>

<script src="/javascript/newblog.js"></script>